{% extends 'cinema/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
    <div class="container">
    
        <div class="pb-2 pt-2 mb-4 mt-3 border-bottom">
            <h3>{% trans "Change Password" %}</h3>
        </div> 
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% bootstrap_form form %}
            <a href="{% url 'account_reset_password' %}" class="float-right">Forgot Password?</a>
            {% buttons %}
                <a href="{% url 'profile:settings' %}" class="btn btn-primary mt-2" type="button" name="action">Cancel</a>
                <button class="btn btn-primary mt-2" type="submit" name="action">{% trans "Change Password" %}</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock content %}
