{% extends 'cinema/base.html' %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="pb-2 pt-2 mb-4 mt-3 border-bottom">
            <h3>{% trans "Change Password" %}</h3>
        </div> 
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
{% endblock %}
